.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.button {
  margin-left: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
}
h2{
  text-align:right;
}
.wrap{
  width: 80%;
  margin: auto;
}
.logo{
  margin-left: 36%;
}

.container{
  width:60%;
  height: 300px;
}
.learningSchedulebox{
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
}
.vocabularyListbox{
  display: flex;
  justify-content: space-between;
}
.scheduleBox{
  padding: 20px;
  display: block;
  background-color:rgb(243, 241, 241);
  border-radius: 20px;
  box-shadow: 1px 1px 2px grey;
}
.days{
margin: 30px;
  margin-left: auto;
  margin-right: auto;
width: 200px;
height: 200px;
background-color:rgba(240, 195, 48, 0.705);
border-radius: 50%;
box-shadow: 1px 1px 10px grey;
}
.daysText{
margin-left: 43%;
  position: relative;
  text-align: center;
line-height: 200px;
font-size: 3em;
}
.sanDaysText{
position: fixed;
top:34%;
left:48%;
line-height: 200px;
font-size: 3em;
}
.sanDaysDays{
  position: fixed;
  top:36%;
  left:51%;
  line-height: 200px;
  font-size: 1em;
}
.startLearning{
  background-color:#004a80;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
  font-family: monospace;
  font-style: italic;
  box-shadow: 1px 1px 2px grey;
}
.btnChange{
  padding:0 5px 0 5px;
  margin: 5px;
}
.coverPic{
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 6px gray;
}
.ReactModal__Content{
    margin: 0 auto;
    margin-top: 120px;
    width: 40%;
    height: 36%;
    box-shadow: 2px 2px 5px grey;
}
.modalTittle{
  font-size: 1.2rem;
text-align: center;
font-weight: bold;
color: #004a80;
margin-bottom: 20px;
}
.modalLable{
  padding-left: 20%;
  font-size: large;
  color:teal;
}
.modalbtn{
  display: flex;
  justify-content: center;
margin: 0 10px 0 10px;
}
.learningwrap{

}
.LearningdBox{
  display: block;
  background-color:rgb(243, 241, 241);
  box-shadow: 1px 1px 2px grey;
  padding-bottom: 30px;
}
.wordBox{

}
.theEnglishWord{
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 20px;
  color: white;
}
.chineseMeaning{
  text-align: center;
  font-size: 1.8rem;
  padding: 50px;
}
.phoneticSymbols{
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 80px;
}
.learningbtnunknow{
  width:30%;
  padding: 10px;
  background-color:darkseagreen;
  
  font-size: x-large;
}
.learningbtnknow{
  width:30%;
  padding: 10px;
  background-color:rgb(10, 100, 189);
  font-size: x-large;
  color: white;
}
.goBackbtn{
width: 60px;
background-color: rgb(10, 100, 189);
border-style: none;
color: white;
}
.canvas{
  position: absolute;
  left: 0;
}